    {% load static %}
    <!-- divider -->
    <div class="row">
        <div class="span12">
            <div class="solidline">
            </div>
        </div>
    </div>
    <!-- end divider -->

    <section id="content">

        <div class="container">
            <!-- Son İlanlar -->
            <div class="row">
                <div class="span12">
                    <h4>Son <strong>İlanlar</strong></h4>
                </div>

                {% for rs in lastproducts %}
                <div class="span3">
                    <div class="pricing-box-alt ">
                        <div class="pricing-heading" style="height:100px">
                            <h5>{{ rs.title }}</h5>
                        </div>
                        <div class="pricing-terms">
                            <h6>&#36;{{ rs.salary }} / Month</h6>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li class="item-thumbs span3 design" data-id="id-0" data-type="web">

                                    <img src="{{ rs.image.url }}" alt="{{ rs.title }}" style="border-radius: 8px; height:150px; width:250px;">
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> BAŞVUR</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <!-- divider -->
            <div class="row">
                <div class="span12">
                    <div class="solidline">
                    </div>
                </div>
            </div>
            <!-- end divider -->
            <!-- Rastgele Kategoriler -->
            <div class="row">
                <div class="span12">
                    <h4 class="heading">Rastgele <strong>Kategoriler</strong></h4>
                    <hr>
                    <div class="row">
                        <section id="projects">
                            <ul id="thumbs" class="portfolio">
                                {% for rs in randomcategory %}
                                <!-- Item Project and Filter Name -->

                                <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                                    <div class="pricing-heading">
                                        <h5>{{ rs.title }}</h5>
                                    </div>
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="{{ rs.image.url }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ rs.image.url }}" alt="{{ rs.title }}" style=" height:150px; width:270px;">

                                </li>

                                <!-- End Item Project -->

                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <!-- End Portfolio Projects -->



            <!-- divider -->
            <div class="row">
                <div class="span12">
                    <div class="solidline">
                    </div>
                </div>
            </div>
            <!-- end divider -->

            <!-- Sizin için Seçtiklerimiz -->
            <div class="row">
                <div class="span12">
                    <h4>Sizin İçin <strong>Seçtiklerimiz</strong></h4>
                </div>
                {% for rs in randomproducts %}
                <div class="span3">
                    <div class="pricing-box-alt ">
                        <div class="pricing-heading" style="height:100px">
                            <h5>{{ rs.title }}</h5>
                        </div>
                        <div class="pricing-terms">
                            <h6>&#36;{{ rs.salary }} / Month</h6>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li class="item-thumbs span3 design" data-id="id-0" data-type="web">

                                    <img src="{{ rs.image.url }}" alt="{{ rs.title }}" style="border-radius: 8px; height:150px; width:250px;">
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> BAŞVUR</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <!--Günlük Ürünler -->
            <div class="row">
                <div class="span12">
                    <h4>Sizin İçin <strong>Seçtiklerimiz</strong></h4>
                </div>
                {% for rs in dayproducts %}
                <div class="span3">
                    <div class="pricing-box-alt ">
                        <div class="pricing-heading" style="height:100px">
                            <h5>{{ rs.title }}</h5>
                        </div>
                        <div class="pricing-terms">
                            <h6>&#36;{{ rs.salary }} / Month</h6>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li class="item-thumbs span3 design" data-id="id-0" data-type="web">

                                    <img src="{{ rs.image.url }}" alt="{{ rs.title }}" style="border-radius: 8px; height:150px; width:250px;">
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> BAŞVUR</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
