{% load static %}
<div id="wrapper">




    <!-- start header -->
    <header>
        <div class="container ">
            <!-- hidden top area toggle link -->
            <div class="span6">
            {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            <div id="header-hidden-link">
                <a href="/shopcart/" class="btn btn-primary" title="My Charts"><i class="icon-briefcase"></i> <strong>My Charts:</strong> {{ request.session.cart_items }} </a>

            </div>
            <!-- end toggle link -->
            <div class="row nomargin">
                <div class="span12">
                    {% if user.id is not None %}

                    <div class="headnav">
                        <div class="navbar navbar-static-top">
                            <ul class="nav topnav">
                                <li class="dropdown">
                                    <a href="#mySignup" data-toggle="modal"><img src="{{ user.userprofile.image.url }}" style="height:30px; width:30px;"> {{ user.first_name }} {{ user.last_name }}</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/user/"><i class="icon-user"></i> Hesabım</a></li>
                                        <li><a href="/shopcart/"><i class="icon-briefcase"></i>Sepet</a></li>
                                        <li><a href="/user/orders"><i class="icon-bookmark"></i>Başvurularım</a></li>
                                        <li><a href="/user/comments"><i class="icon-comment"></i> Yorumlarım</a></li>
                                        <li><a href="/user/contents"><i class="icon-book"></i> İlanlarım</a></li>
                                        <li><a href="/logout/"><i class="icon-signout"></i>Çıkış Yap</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>


                    {% else %}
                    <div class="headnav">
                        <ul>
                            <li><a href="/signup/" data-toggle="modal"><i class="icon-user"></i> Sign up</a></li>
                            <li><a href="/login/" data-toggle="modal">Sign in</a></li>
                        </ul>
                    </div>
                    {% endif %}

                </div>
            </div>
            <script>
                $(function() {
                    $("#query").autocomplete({
                        source: "/search_auto/",
                        select: function (event, ui) { //item selected
                            AutoCompleteSelectHandler(event, ui)
                        },
                        minLength: 2,
                    });
                });

                function AutoCompleteSelectHandler(event, ui)
                {
                    var selectedObj = ui.item;
                }
            </script>
            <div class="row">
                <div class="span4">
                    <div class="col-sm-3">
                       <form action="/search/" method="POST">
                            {% csrf_token %}
                            <div class="search_box pull-right">
                                {% load mptt_tags  %}

                                <label>Kategori Seç:</label>
                                <select name="catid">
                                    <option value="0">Kategorileri Gör</option>
                                    {% recursetree category %}
                                    {% if node.is_leaf_node %}<option value="{{ node.id }}">{{ node.title }}</option> {% endif %}
                                    {% if not node.is_leaf_node %}
                                    <optgroup label="{{node.title}}">
                                        {{children}}
                                    </optgroup>
                                    {% endif %}
                                    {% endrecursetree %}
                                </select>
                                <input id="query" name="query" type="text" placeholder="Search"/>
                                <button class="fa fa-search"></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="span8">

                    <div class="navbar navbar-static-top">
                        <div class="navigation">
                            <nav>
                                <ul class="nav topnav">
                                    <li>
                                        <a href="/">Ana Sayfa </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/hakkimizda" >Hakkimizda<i class="icon-angle-down"></i></a>
                                        {% load mptt_tags %}
                                        <ul class="dropdown-menu">

                                            {% if menu %}
                                            {% recursetree menu %}
                                            <li class="dropdown">
                                                <a href="/menu/{{ node.id }}">{{ node.title }}{% if not node.is_leaf_node %} <i class="icon-angle-right"></i>{% endif %}</a>
                                                {% if not node.is_leaf_node %}
                                                <ul class="dropdown-menu sub-menu-level1">
                                                    <li><a href="#">{{ children }}</a></li>
                                                </ul>
                                                {% endif %}
                                            </li>
                                            {% endrecursetree %}
                                            {% endif %}

                                        </ul>
                                    </li>

                                    <li>
                                        <a href="/referanslar">Referanslar </a>
                                    </li>
                                    <li>
                                        <a href="/sss">SSS </a>
                                    </li>
                                    <li>
                                        <a href="/iletisim">İletişim </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- end navigation -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
</div>