{% load static %}
<div id="wrapper">




    <!-- start header -->
    <header>
        <div class="container ">
            <!-- hidden top area toggle link -->
            <div id="header-hidden-link">
                <a href="/shopcart/" class="btn btn-primary" title="My Charts"><i class="icon-briefcase"></i> <strong>My Charts:</strong> {{ request.session.cart_items }} </a>

            </div>
            <!-- end toggle link -->
            <div class="row nomargin">
                <div class="span12">
                    {% if user.id is not None %}

                    <div class="headnav">
                        <div class="navbar navbar-static-top">
                            <ul class="nav topnav">
                                <li class="dropdown">
                                    <a href="#mySignup" data-toggle="modal"><img src="{{ profile.image.url }}" style="height:30px; width:30px;"> {{ user.first_name }} {{ user.last_name }}</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/user/"><i class="icon-user"></i> Hesabım</a></li>
                                        <li><a href="/shopcart/"><i class="icon-briefcase"></i>Sepet</a></li>
                                        <li><a href="#"><i class="icon-bookmark"></i>Başvurularım</a></li>
                                        <li><a href="components.html"><i class="icon-comment"></i> Yorumlarım</a></li>
                                        <li><a href="/logout/"><i class="icon-signout"></i>Çıkış Yap</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>


                    {% else %}
                    <div class="headnav">
                        <ul>
                            <li><a href="/signup/" data-toggle="modal"><i class="icon-user"></i> Sign up</a></li>
                            <li><a href="/login/" data-toggle="modal">Sign in</a></li>
                        </ul>
                    </div>
                    {% endif %}

                </div>
            </div>

            <div class="row">
                <div class="span4">
                    <div class="widget">
                        <form action="/search/" method="post">
                            {% csrf_token %}
                            <input id="query" name="query" placeholder="Type something" type="text" class="input-medium search-query">
                            <button type="submit" class="btn btn-square btn-theme">Search</button>
                        </form>
                    </div>
                </div>
                <div class="span8">

                    <div class="navbar navbar-static-top">
                        <div class="navigation">
                            <nav>
                                <ul class="nav topnav">
                                    <li>
                                        <a href="/">Ana Sayfa </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" >Categories<i class="icon-angle-down"></i></a>
                                        {% load mptt_tags %}
                                        <ul class="dropdown-menu">

                                            {% recursetree category %}
                                            <li class="dropdown">
                                                <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}{% if not node.is_leaf_node %} <i class="icon-angle-right"></i>{% endif %}</a>
                                                {% if not node.is_leaf_node %}
                                                <ul class="dropdown-menu sub-menu-level1">
                                                    <li><a href="/category/{{ node.slug }}">{{ children }}</a></li>
                                                </ul>
                                                {% endif %}
                                            </li>
                                            {% endrecursetree %}


                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/hakkimizda">Hakkımızda </a>
                                    </li>
                                    <li>
                                        <a href="/referanslar">Referanslar </a>
                                    </li>
                                    <li>
                                        <a href="/iletisim">İletişim </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- end navigation -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
</div>