{% load static %}
<div id="wrapper">

    <section id="featured">
        <!-- start slider -->
        <!-- Slider -->
        <!-- start slider -->
        <div id="da-slider" class="da-slider">
            {% for rs in sliderdata %}
            <div class="da-slide">
                <h2>{{ rs.title }}</h2>
                <p>
                    {{ rs.description}}
                </p>
                <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="da-link">BAŞVUR</a>
                <div class="da-img">
                    <img src="{{ rs.image.url }}" alt="image01" />
                </div>
            </div>
            {% endfor %}
            <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </nav>
        </div>
        <!-- end slider -->
        <!-- end slider -->
    </section>
</div>
<hr>