{% extends "homebase.html" %}

{% block title %}Update Profile {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
<link rel="shortcut icon" href="{{ setting.icon.url}}" />
{% endblock %}

{% block content %}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h2>Update Profile</h2></a>


                </div>
            </div>

            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Profile Update</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="content">
    <div class="container">
        <div class="row">


            <div class="span12">
                {% include "user_panel.html" %}

            </div>
            <div class="span12">
                {% if messages %}
                {% for message in messages %}
                <div style="color: #d43f3a; font-size: medium">
                    {{ message | safe}}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="span12">

                <form method="post" class="contactForm" >
                    {% csrf_token %}

                    {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>

                        {{ field }}

                        {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                    <p style="color: red">{{error}}</p>
                    {% endfor %}
                    </p>
                    {% endfor %}
                    <button type="submit" class="btn btn-medium btn-theme">SAVE</button>
                </form>
            </div>
        </div>
</section>


{% endblock %}